<!DOCTYPE html>
<html lang="en">
<head>
   
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content= "DEBALI, DRAMATURGIA, CUENTOS, ESCRITURA, URUGUAY, LIBROS">
    <meta name= "description" content= "Bienvenido a una sección de recomendaciones dramatúrgicas">
    <script src="https://kit.fontawesome.com/301bf9a9cf.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/estilos.css">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;0,800;1,400;1,500&display=swap" rel="stylesheet">

  
    <title>Git</title>
</head>
<body>
    
   <div>

    <p class= letraCuerpo>

        1.
El Cid convoca a sus vasallos; éstos se destierran con él.
Adiós del Cid a Vivar.
(Envió a buscar a todos sus parientes y vasallos, y les dijo cómo el rey le mandaba salir
de todas sus tierras y no le daba de plazo más que nueve días y que quería saber quiénes
de ellos querían ir con él y quiénes quedarse.
A los que conmigo vengan que Dios les dé muy buen pago;
también a los que se quedan contentos quiero dejarlos.
Habló entonces Álvar Fáñez, del Cid era primo hermano:
"Con vos nos iremos, Cid, por yermos y por poblados;
no os hemos de faltar mientras que salud tengamos,
y gastaremos con vos nuestras mulas y caballos
y todos nuestros dineros y los vestidos de paño,
siempre querremos serviros como leales vasallos."
Aprobación dieron todos a lo que ha dicho don Álvaro.
Mucho que agradece el Cid aquello que ellos hablaron.
El Cid sale de Vivar, a Burgos va encaminado,
allí deja sus palacios yermos y desheredados.
Los ojos de Mío Cid mucho llanto van llorando;
hacia atrás vuelve la vista y se quedaba mirándolos.
Vio como estaban las puertas abiertas y sin candados,
vacías quedan las perchas ni con pieles ni con mantos,
sin halcones de cazar y sin azores mudados.
Y habló, como siempre habla, tan justo tan mesurado:
"¡Bendito seas, Dios mío, Padre que estás en lo alto!
Contra mí tramaron esto mis enemigos malvados".

</p>

<p class="letraCuerpo">
2
Agüeros en el camino de Burgos
Ya aguijan a los caballos, ya les soltaron las riendas.
Cuando salen de Vivar ven la corneja a la diestra,
pero al ir a entrar en Burgos la llevaban a su izquierda.
Movió Mío Cid los hombros y sacudió la cabezahueca:
"¡Ánimo, Állvar Fáñez, ánimo, de nuestra tierra nos echan,
pero cargados de honra hemos de volver a ella! "
3
El Cid entra en Burgos
Ya por la ciudad de Burgos el Cid Ruy Díaz entró.
Sesenta pendones lleva detrás el Campeador.
Todos salían a verle, niño, mujer y varón,
a las ventanas de Burgos mucha gente se asomó.
¡Cuántos ojos que lloraban de grande que era el dolor!
Y de los labios de todos sale la misma razón:
"¡Qué buen vasallo sería si tuviese buen señor!"

    </p>
   </div>



<div>

 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias facere earum dolore magni dolores porro nisi, dignissimos quibusdam odio culpa nemo voluptas officiis vitae similique? Rerum similique facilis minus nobis.</p>
</div>












</body>
</html>