<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content= "DEBALI, POESÍA, CUENTOS, ESCRITURA, URUGUAY, LIBROS">
    <meta name= "description" content= "Cuentos y narraciones de Yugabrism">
    <script src="https://kit.fontawesome.com/301bf9a9cf.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/estilos.css">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;0,800;1,400;1,500&display=swap" rel="stylesheet">


    <title>Yugabrism Podcast</title>
    
</head>

<body id="fondoComun">

   
    <header>
 
        <section >

            <div class="container-fluid">

                <div class="row">

                    <nav class="navbar navbar-expand-lg navbar-dark fixed-top color">
                        <div class="container-fluid">
                            
                            <div class="col-6" id="logo">
                                <a class="navbar-brand" href="../index.html"><img class=" img-fluid" src="../img/logo.png" alt="" id="logoPrincipal"></a>
                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                            </div>

                            
                            <div class="collapse navbar-collapse row " id="navbarNavDropdown">
                                <ul class="navbar-nav container-fluid position-absolute top-20 start-50">                                  
                                    <div class="col-2">
                                        <li class="nav-item dropdown">
                                            <button type="button" class="btn btn-info">
                                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                    Pluma
                                                    </a>
                                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                                    <li><a class="dropdown-item" href="../views/cuentos.html">Cuentos</a></li>
                                                    <li><a class="dropdown-item" href="../views/poesía.html">Poesía</a></li>
                                                    <li><a class="dropdown-item" href="../views/dramaturgia.html">Dramaturgia</a></li>
                                                    <li><a class="dropdown-item" href="../views/libros.html">Libros</a></li>
                                                </ul>
                                                
                                            </button>
                                        </li>
                                    </div>

                                    <div class="col-2">
                                        <li class="nav-item">
                                            <button type="button" class="btn btn-info">
                                                <a class="nav-link" href="../views/artículos.html">Artículos</a>
                                            </button>
                                        </li>
                                    </div>

                                    <div class="col-2">
                                        <li class="nav-item">
                                            <button type="button" class="btn btn-info"> 
                                            <a class="nav-link" href="/views/podcast.html">Voces</a>
                                            </button>   
                                        </li>
                                    </div>    
                                
                                </ul>
                            </div>
                        </div>
                    </nav>

                </div>
            </div>

        </section>

    </header>  


    <section class="podcast">

      
        <div class="tituloPodcas">La Venganza</div>
          
        <div id="venganza">

            
            <p class="letraPod" ><i> La venganza será terrible es un programa de radio de humor, teatro, música y reflexión argentino, conducido por Alejandro Dolina junto a Patricio Barton y Gillespi. Se transmite de lunes a viernes a la medianoche por Radio AM 750 ​ de la Ciudad de Buenos Aire</i></p>
            
            <iframe src="https://open.spotify.com/embed-podcast/show/1X8GfqDYqSnQZvSBPlwSzW" class="ratio ratio-4x3" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        

        </div>

        <div class="tituloPodcas">El Nadie</div>

        <div id="elNadie">
            
                    <p class="letraPod"><i> Nadie sabe nada es un programa de radio de humor e improvisación español, presentado por Andreu Buenafuente y Berto Romero, retransmitido por la Cadena SER y producido por El Terrat, además de ser distribuido por plataformas de podcast y a través de redes sociales, en especial en YouTube.</i></p>
                    <iframe src="https://open.spotify.com/embed-podcast/episode/2KOgwdjxFTxdnFlhrF7Y4s" class="ratio ratio-4x3" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                

        </div>

        <div class="tituloPodcas">Curiosidades de la Historia</div>

        <div id="curios">
                     
                <p class="letraPod"><i> La historia no solo se lee, también se escucha. No te pierdas ninguno de los capítulos de nuestros programas: "Curiosidades de la Historia" y "Desenterrando el Pasado". Desde el escándalo del collar de María Antonieta hasta la vida de los universitarios en la Edad Media, los Tartesos, los masones, la invención de la guillotina o los secretos de los evangelios apócrifos. </i></p>
                <iframe src="https://open.spotify.com/embed-podcast/episode/3PVNJwhAwW5mQBjU8GtNfP" class="ratio ratio-4x3" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                
        </div>
        
    </section>
 

    <footer class="page-footer font-small special-color-dark pt-4  navbar-light bg-dark">

    <div class="container">
        
            <ul class="list-unstyled list-inline text-center ">
            <li class="list-inline-item">
            <a href= " https://www.facebook.com/Yugabrism/" target="_blank"  class="btn-floating btn-fb mx-1">
                <i class= "fab fa-facebook"> </i>
            </a>
            </li>
                
            <li class="list-inline-item">
                <a href="https://www.instagram.com/yugabrism/" target="_blank" class="btn-floating btn-gplus mx-1">
                <i class="fab fa-instagram">  </i>
                </a>
            </li>     

            <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/yuris-debali-serralta-162019152/" target="_blank" class="btn-floating btn-gplus mx-1">
                <i class="fab fa-linkedin">  </i>
                </a>
            </li>   
        </ul>
        
    </div>
    
    <div class="footer-copyright text-center py-3 bg-secondary">© 2021 Copyright: Yuris Debali Serralta
        
    </div>
    
    </footer>   
      


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
</body>
</html>


