<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content= "DEBALI, POESÍA, CUENTOS, ESCRITURA, URUGUAY, LIBROS">
    <meta name= "description" content= "Página web de poesías de Gabriel Debali.">
    <script src="https://kit.fontawesome.com/301bf9a9cf.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/estilos.css">
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;0,800;1,400;1,500&display=swap" rel="stylesheet">

    <title>Yugabrism Poesía</title>
</head>

<body id="fondoComun">

    <header>
 

        <section >

            <div class="container-fluid">

                <div class="row">

                    <nav class="navbar navbar-expand-lg navbar-dark fixed-top color">
                        <div class="container-fluid">
                            
                            <div class="col-6" id="logo">
                                <a class="navbar-brand" href="../index.html"><img class=" img-fluid" src="../img/logo.png" alt="" id="logoPrincipal"></a>
                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                            </div>

                            
                            <div class="collapse navbar-collapse row " id="navbarNavDropdown">
                                <ul class="navbar-nav container-fluid position-absolute top-20 start-50 ">                                  
                                    <div class="col-2">
                                        <li class="nav-item dropdown">
                                            <button type="button" class="btn btn-info">
                                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                    Pluma
                                                    </a>
                                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                                    <li><a class="dropdown-item" href="../views/cuentos.html">Cuentos</a></li>
                                                    <li><a class="dropdown-item" href="../views/poesía.html">Poesía</a></li>
                                                    <li><a class="dropdown-item" href="../views/dramaturgia.html">Dramaturgia</a></li>
                                                    <li><a class="dropdown-item" href="../views/libros.html">Libros</a></li>
                                                </ul>
                                                
                                            </button>
                                        </li>
                                    </div>

                                    <div class="col-2">
                                        <li class="nav-item">
                                            <button type="button" class="btn btn-info">
                                                <a class="nav-link" href="../views/artículos.html">Artículos</a>
                                            </button>
                                        </li>
                                    </div>

                                    <div class="col-2">
                                        <li class="nav-item">
                                            <button type="button" class="btn btn-info"> 
                                            <a class="nav-link" href="/views/podcast.html">Voces</a>
                                            </button>   
                                        </li>
                                    </div>    
                                
                                </ul>
                            </div>
                        </div>
                    </nav>

                </div>
            </div>


        </section>

    </header>  

    
    <div class="container col">
       
    </div> 

<div id="carouselExampleControlsNoTouching" class="carousel slide" data-bs-touch="false" data-bs-interval="false">
  <div class="carousel-inner">
    <div class="carousel-item active">
        

        <div class="row container-fluid poesias">     
                    
            <div class="row col-xl-5 col-lg-8 col-md-8 col-sm-10 " >
                <i class="fas fa-caret-up"></i>
                <p>Algún día </p>
                <p>cuando nosotros bailemos </p>
                <p>y las luces no nos iluminen </p>
                        <br>                                  
                <p>Algún día </p>
                <p>o en estas noches capaz </p>
                <p>puede ser tan solo un grito</p>
                    <br>
                <p>Algún día</p>
                <p>en algún lugar con cielo</p>
                <p>reinando este sol amarillo</p>
                    <br>                                    
                <p>Algún día </p>
                <p>sin excepciones de piel </p>
                <p>aunque no tengamos nada</p>    
                    <br>
                <p>Viviré </p>    
                <p>en tu casa </p>   
                <p>hasta que</p>    
                <p>se desgaste </p>    
                <br>
             
            </div>
                                
            <div class=" row col-xl-5 col-lg-8 col-md-8 col-sm-10">
                <i class="fas fa-caret-up"></i>
                <p> Conocidos,</p>
                <p>Pájaros de un mismo cielo</p>             
                <p>Árbol de cien ramas en un bosque</p>              
                <p>En el que ayer hemos construido</p>                    
                <p>Sin ser absolutos testigos</p>                    
                <p>Lo que cuesta destruir con tiempo.</p>
                    <br>                                      
                <p>Pieles de cuarzo</p>                    
                <p>Revestidas garras de dolor</p>                    
                <p>Y un volcán que busca su lava</p>                    
                <p>Rememorando sus incendios</p>                    
                <p>Hundidos en esta lluvia</p>                    
                <p>Reinantes en noches de tormentos.</p>
                <br>                                        
                <p>Conocidos,</p>                    
                <p>Pájaros de una misma rama</p>                    
                <p>Que cedió al devenir interno</p>                    
                <p>Y sin secar quebró a su peso</p>                    
                <p>El capricho de lo expuesto</p>                    
                <p>Y volar sin ayer quemando deseos.</p>
                <br>
                                
                <p>Vestigios,</p>                    
                <p>Ramas verdes de mismo espesor</p>                    
                <p>De sus picos un canto unísono</p>                    
                <p>En mañanas que no fueron noches</p>                    
                <p>Allá a lo lejos se ve revolotear</p>                    
                <p> contra viento sus nuevos árboles...</p>
                
            </div>   
            
        </div>  

      
    </div>
    <div class="carousel-item">

        <div class="row container-fluid poesias">     
                    
            <div class="row col-xl-5 col-lg-8 col-md-8 col-sm-10" >
                <i class="fas fa-caret-up"></i>
                            
                <p> Te convido mi idea </p>
                <p> a pesar del tiempo</p>
                <p>tus ojos van hacia mi pelo</p>
                <p> y vuela </p>
                <p> a pesar de cuatro años sin cortarlos</p>
                <p>tu espalda se acomoda</p>
                <p>a mi brazo.</p>
                <br>
                <p> Las calles intentan</p>
                <p>las condolencias</p>
                <p>  y prendo un porro del gris</p>
                <p>  ventilando </p>
                <p>  parquet encerado, años olvidados</p>
                <p>  los silbidos de caldera</p>
                <p>  y silencios.</p>
                <br>
                <p> Te abro mis años</p>
                <p> escribo las veredas</p>
                <p> y voy voy voy voy y voy, fui</p>
                <p>  a luces</p>
                <p> para que me veas una vez más acá</p>
                <p> tachando fechas rojas</p>
                <p>  para renacer.</p>
             
            </div>
                                
            <div class="row col-xl-5 col-lg-8 col-md-8 col-sm-10">
                <i class="fas fa-caret-up"></i>
                <p>¿De dónde volviste?</p>
                <p>¿Qué miedo te ataca?</p>
                <p>Mujer blanca.</p>
                <br>
                <p>¿Que estimuló tendrá</p>
                <p>la juventud de pan?</p>
                <p>si vivís fresca.</p>
                <br>
                <p>¡Eh! ¿A dónde van los gnomos?</p>
                <p>¡Uh! Si despiertan en tu enredadera,</p>
                <p>mujer seca,</p>
                <p>desenredandome te veo</p>
                <p>y compartiendote.</p>
                <br>
                <p>Abrazo, nos vemos</p>
                <p>calada a tu junada,</p>
                <p>gran respiro</p>
                <p>de excitación.</p>
                <br>
                <p>¡Eh! ¿Quién pregunta al subir</p>
                <p>cuántas pulsaciones te han llevado</p>
                <p>en exhalar</p>
                <p>carozos y campana?</p>
                <p>¡Uh! que sal tu cuerpo.</p>
                <br>
                <p>¿De dónde fuiste?</p>
                <p>mujer que…</p>
                <p>respira</p>
                <p>canciones.</p>
                
            </div>   
            
        </div>  
    
    </div>
    <div class="carousel-item">

        <div class="row container-fluid poesias">     
                    
            <div class="row col-xl-5 col-lg-8 col-md-8 col-sm-10" >
                <i class="fas fa-caret-up"></i>       
                <p>Tan solo recuerdo el humo del invento </p>
                <p>porque caminamos a destiempo</p>
                <p> y el incierto es parte de lo que no creemos</p>
                <p>allí cruzó el fuego con el hielo</p>
                    <br>
                <p> No eran piernas, eran una permanencia</p>
                <p> y lo que es solo carne se desintegra</p>
                <p> tan solo podría suspirar desde la destreza</p>
                <p>compartir mesa con quien anhela.</p>
                    <br>
                <p> Convidar solo lo que ha de cocinar</p>
                <p> armando la carnada para pescar</p>
                <p> somos mil aldeanos con mi espacio</p>
                <p>todos queremos salir a jugar</p>
                    <br>                
                <p>Y al viento no libero todo lo que sueño</p>
                <p> no suceda que crea lo que quiero</p>
                <p> porque a pesar del humo veo un incendio</p>
                <p> debajo de todo lo que llevo puesto.</p>
                    <br>
                <p>Mi carne se desgarra</p>
                <p>no crecen de tus ramas</p>
                <p> los resabios del bosque</p>
                <p> el bosque de la nostalgia.</p>
                    <br>
                <p>Mi carne se desgarra</p>
                <p>melancolía no es sabia</p>
                <p>ahonda dentro mi cama</p>
                <p>al bosque de la nostalgia.</p>
                <br>
                <p>No hay país que perfume como un ceibo</p>
                <p> ni sabor de palabras que nos callan</p>
                <p> añoradas las estaciones que den un invierno</p>
                <p> si no hay flor para tu ave de mañana.</p>
                    <br>
                <p> Si, no, doliente ante el sol van mis huestes</p>
                <p>húsar sin bandera ruge sin sed el río</p>
                <p>dime quién es el rostro que lleva la corriente</p>
                <p>padezco la enfermedad del desvarío.</p>
                    <br>
                <p>Mi corazón se desarraiga</p>
                <p> no tengo más una cama</p>
                <p>donde soplar las migajas</p>
                <p>del cuerpo a piel de magia.</p>
                <p>Mi corazón se descarga</p>
                <p>no late con su constancia</p>
                <p>quedó colgado en ramas</p>
                <p>del bosque de la nostalgia.</p>
            
             
            </div>
                                
            <div class="row col-xl-5 col-lg-8 col-md-8 col-sm-10">
                <i class="fas fa-caret-up"></i>
                <p> La feligresa del cuestionar</p>
                <p>  tuvo una pesadilla cuidada</p>                    
                <p>   con el mensaje de Dios,</p>                    
                <p>  en el llanto de amar.</p>                    
                 <br>                    
                <p>   En su nostalgia cree estar</p>                    
                <p>   con la cura de toda resaca</p>                    
                <p>  disparando de sus balas</p>                    
                <p>   superando a su espalda.</p>                    
                 <br>                    
                <p>   Acicalada, oculta su sordidez</p>                    
                <p>   vaga con esa mochila vacía</p>                    
                <p>   que pesa como una roca</p>                    
                <p>   más grande que su cara.</p>                    
                <p>  tuvo una pesadilla cuidada</p>                    
                <p>  con el mensaje de Dios</p>                    
                <p>   en el llanto de amar.</p>

                
            </div>   
            
        </div>  
        

        

        
      
    </div>
    <div class="carousel-item">
        <div class="row container-fluid poesias">     
                    
            <div class="row col-xl-5 col-lg-8 col-md-8 col-sm-10" >
                            
                <i class="fas fa-caret-up"></i>
                <p> La vida sin amor</p>

                <p>resulta una grieta remendada</p>
                 
                <p> no es todo tan valorable</p>
                 
                <p>sin sentir su fiebre</p>
                 
                <p>entre el pecho y la espalda.</p>
                 <br>
                                      
                <p>La vida con la muerte</p>
                 
                <p>vuelan en un mismo perfume y</p>
                 
                <p>todos somos tan efímeros</p>
                 
                <p>que huímos o vivimos</p>
                 
                <p>sin empaparnos abiertos</p>
                                     
                 <br>
                <p>Cría el siervo hacia el sol,</p>
                 
                <p>esclaviza el siervo hacia él</p>
                 
                <p>envía tu siervo hacia él</p>
                 
                <p>entrégate a quien debes.</p>
               <br>
                              
                <p>El río sin navegarlo</p>
                 
                <p>es solo un montón de agua</p>
                 
                <p>sitiando un viejo pueblo</p>
                 
                <p>al cual jamás llegaron</p>
                 
                <p>quienes no se han enfrentado</p>
                 <br>                   
     
                <p>Pero sin ti, querida mujer</p>
                 
                <p>mis brazos no podrían terminar</p>
                 
                <p>solo en esta corriente</p>
                 
                <p>crucemos con creces</p>
                 
                <p>hacia el terreno del cual cultivar</p>
            
             
            </div>
                                
            <div class="row col-xl-5 col-lg-8 col-md-8 col-sm-10">
                <i class="fas fa-caret-up"></i>
                <p> No tengo heridas</p>
                   <p>pues ya no tengo corazón</p>
                   <p>sobre el eco de tu voz</p>
                   <p>que profundo</p>
                   <p> ha quedado esa multitud</p>
                   <p> que grita sin razón</p>
                        <br>                    
                   <p>No tengo heridas</p>
                   <p>pues ya no tengo juventud</p>
                   <p>porque el amar es virtud</p>
                   <p>en una tierra de dolor</p>
                   <p>sembrada en esta</p>
                   <p>criada a dolor y rencor.</p>
                        <br>                    
                   <p>No tengo heridas</p>                 
                   <p>pues herido está quien vive</p>
                   <p>y quizá alguien reanime</p>
                   <p>lo que su huella dejó</p>
                   <p>y con su labio me convide</p>
                   <p>canción a la boca que calló</p>
                        <br>               
                   <p>No tengo heridas</p>
                   <p>pues ya soy una herida misma</p>
                   <p>y mi carne es un envase</p>
                   <p>martirio de alma vacía</p>
                   <p>renaciendo de una ceniza</p>
                   <p>buscando surgir de lo que uno ansía</p>
                
            </div>   
            
        </div>  
        
        
      </div>
      <div class="carousel-item">

        <div class="row container-fluid poesias">     
                    
            <div class="row col-xl-5 col-lg-8 col-md-8 col-sm-10" >
                            
                <i class="fas fa-caret-up"></i>
                <p> Motores que se encienden</p>
                <p> la cara que se estira</p>
                <p>  pieles que humectan al sol</p>
                <p> y la alergia de alegría</p>
                <p> pienso, hay tantos nuestros</p>
                <p> y yo sin agujeros dentro</p>
                <p> y antes que explotaba.</p>
                 <br>                    
                <p> Calles que se mojan</p>
                <p> gritos de los niños</p>
                <p> Magdalena corta naranjas</p>
                <p> el cenital la tortura</p>
                <p> y sus ojos son de Ovídeo</p>
                <p> pienso en lo que amo</p>
                <p> y los azulejos cielo</p>
                <p> se nublan en su espalda</p>
                     <br>                    
                <p> Y la vida es un cálido sol adentro del mar</p>
                <p> los vapores de luces que calman</p>
                <p> la arrancaría desde las olas del rojo mar</p>
                <p> los resabios que no calman la ciudad.</p>
                 <br>                    
                <p> No olvides de donde vienes</p>
                <p> amigo, él me dijo al vivo</p>
                <p> y yo que estaba desarmado</p>
                <p> sin que vuele en su nido</p>
                <p> por un día solo convidado</p>
                <p> y las calles van drenando</p>
                <p> en la tarde que es de olvido.</p>
                <p> reemprender lo recordado.</p>
            
             
            </div>
                                
            <div class="row col-xl-5 col-lg-8 col-md-8 col-sm-10">
                <i class="fas fa-caret-up"></i>
                <p>Él juega en mi ruleta </p>
                <p>ha mostrado su olor,</p>
                <p> salvedades empíricas</p>
                <p> que me curan e infectan.</p>
                <p>Sus tormentas que arrecian</p>
                <p>(él me tiene abandonado)</p> 
                <br>
                <p> Ya soy un pasajero</p>
                <p>sin más vueltas que el reloj</p>
                <p>hundido en sus defectos</p>
                <p>hay veces que duele tanto...</p>
                <p>No me animo a abandonarlo,</p>
                <p> un día llegará "ese día".</p>
                <p> Pero no tengo tanta salud</p>
                <p>impaciento esa vida</p>
                <p> incendiando los reflejos</p>
                <p>  el fuego de su energía</p>
                
            </div>   
            
        </div>  
         
       
        
      </div>
      <div class="carousel-item">

        
        <div class="row container-fluid poesias">     
                    
            <div class="row col-xl-5 col-lg-8 col-md-8 col-sm-10" >
                            
                <i class="fas fa-caret-up"></i>
                <p>Estoy ciego</p>
                <p>en la escalera.</p>
                <p>Es tan falsa,</p>
                <p> siento que floto,</p>
                <p>  lejos de estar</p>
                <p> pintando muros</p>
                <p> con mis manos,</p>
                <p>  lejos de estar</p>
                <p>  pintando pisos</p>
                <p> con mis pies.</p>
                <br>
                <p>Si lo viera</p>
                <p> aquella gente</p>
                <p>  de ojos grises</p>
                <p>  con miradas</p>
                <p>   indiferentes</p>
                <p>  el tablero ese</p>
                <p>  daría mil vueltas</p>
                <p>  como en Francia</p>
                <p>  con aquél</p>
                <p>   que no mira más.</p>

            
             
            </div>
                                
            <div class="row col-xl-5 col-lg-8 col-md-8 col-sm-10">
                <i class="fas fa-caret-up"></i>
                <p> Esas uñas encarnadas</p>
                <p> a carcajadas</p>                
                <p>intentan pudrir la pata</p>                
                <p>  agarrándose;</p>                
                <p> son solo unas hormigas</p>                
                <p>   en un estanque...</p>
                <br>                                 
                <p>  Voluptuosas bacterias,</p>                
                <p>   contra acción,</p>                
                <p>   estériles de palabras</p>                
                <p>   que el viento borra.</p>
                <br>             
                <p>   Infecciosos sin banderas,</p>                
                <p>    cura insulsa,</p>                
                <p>   adorno de polvo y pelusa.</p>                
                <p>    Desastre virtual,</p>                
                <p>   vecinos de la estructura,</p>              
               <p>   pero sin amistad.</p>
                
            </div>   
            
        </div>  
         
        

      </div>
      <div class="carousel-item">

        <div class="row container-fluid poesias">     
                    
            <div class="row col-xl-5 col-lg-8 col-md-8 col-sm-10" >
                <i class="fas fa-caret-up"></i>       
                <p>   Necesito contar</p>
                <p>    los versos de final</p>
                <p>   que dispararan</p>
                <p>   la rima de cuantía</p>
                <p>   para luego acabar</p>
                <p>   bajo el suave andar</p>
                <p>    del agitado respirar</p>
                <p>   del pueblo sin bar.</p>
                <br>                   
                <p>    Necesito contar</p>
                <p>   las estrellas de mar.</p>
                <p>  Encontrarle lugar</p>
                <p>   para hacerlas brillar</p>
                <p>  absorbiendo su luz</p>
                <p>    y juntos encandilar</p>
                <p>  las almas de azul </p>
                <p>   que en penas vagan.</p>

            
             
            </div>
                                
            <div class="row col-xl-5 col-lg-8 col-md-8 col-sm-10">
                <i class="fas fa-caret-up"></i>        
                <p>  Parecían las cascadas </p>
                <p>  trepadas al moho, </p>                    
                <p>agua cristal que chocaba,</p>                    
                <p>   roca sucia al fondo.</p>                   
                 <br>                    
                <p>   Hubo que decidir la nube</p>                    
                <p>   que llovería el mañana</p>                    
                <p>   bajo el cielo estrellado,</p>                    
                <p>   bajo la boca empalada.</p>                    
                 <br>                    
                <p>   (Solo piden la lluvia hoy</p>                    
                <p>   después marchan</p>                   
                <p>  como peces sin agua</p>                    
                <p>   esas almas desesperadas)</p>                    
                 <br>                    
                <p>   No abrió el cuaderno</p>                    
                <p>    no abrió el amanecer</p>                    
                <p>  sin ojos ve su alma</p>                    
                <p>   sin lengua no engaña</p>

                
            </div>   
            
        </div>  
                  
        
      </div>
      <div class="carousel-item">
        

        <div class="row container-fluid poesias">     
                    
            <div class="row col-xl-5 col-lg-8 col-md-8 col-sm-10" >
                            
               
            
             
            </div>
                                
         
        </div> 
        

        
      </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControlsNoTouching" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>



    
        <footer class="page-footer font-small special-color-dark pt-4  navbar-light bg-dark">
    
            <div class="container">
               
                 <ul class="list-unstyled list-inline text-center">
                    <li class="list-inline-item">
                    <a href= " https://www.facebook.com/Yugabrism/" target="_blank"  class="btn-floating btn-fb mx-1">
                        <i class= "fab fa-facebook"> </i>
                    </a>
                    </li>
                        
                    <li class="list-inline-item">
                        <a href="https://www.instagram.com/yugabrism/" target="_blank" class="btn-floating btn-gplus mx-1">
                        <i class="fab fa-instagram">  </i>
                        </a>
                    </li>     
        
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/in/yuris-debali-serralta-162019152/" target="_blank" class="btn-floating btn-gplus mx-1">
                        <i class="fab fa-linkedin">  </i>
                        </a>
                    </li>   
                </ul>
               
            </div>
            
            <div class="footer-copyright text-center py-3 bg-secondary">© 2021 Copyright: Yuris Debali Serralta
              
            </div>
            
          </footer>   

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>

</body>
</html>
